*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
/* 전체 레이아웃 */
.wrap{
    width: 100%;
    background-color: antiquewhite;
}
.container{
    width: 1200px;
    margin: auto;
    background-color: aqua;
}
/* 상단 */
header{
    height: 100px;
    background-color: aquamarine;
}
/* 메인 */
main{
    height: 800px;
    background-color: violet;
    display: flex;
}
/* 사이드바 */
.sidebar{
    width: 30%;
    background-color: yellow;
}
.main-content{
    width: 70%;
    background-color: yellowgreen;
}
/* 하단 */
footer{
    height:100px;
}