*{
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
}
/* 전체 레이아웃 */
.container{
    width: 100%;
    height: 100%;
    margin: auto;
}
/* 상단 */
header{
    height:100px;
    display: flex;
}
/* 좌측 */
.left{
    width: 20%;
    background-color: rgb(49, 245, 245);
}
/* 중간 */
.mid{
    width: 60%;
    background-color: rgb(245, 245, 115);
}
/* 우측 */
.right{
    width: 20%;
    background-color: violet;
}
/* 메인 */
main{
    height: 800px;
}
/* 위 */
.top{
    height: 30%;
    background-color: rgb(247, 113, 113);
}
/* 아래 */
.bottom{
    height: 70%;
    background-color: pink;
}
/* 하단 */
footer{
    height: 100px;
    display: flex;
}
/* 좌측 */
.b-left{
    width: 20%;
    background-color: rgb(132, 236, 132);
}
/* 중간 */
.b-mid{
    width: 60%;
    background-color: rgb(35, 144, 172);
}
/* 우측 */
.b-right{
    width: 20%;
    background-color: aquamarine;
}